.warning-icon,
.warning-icon::before,
.warning-icon::after
{
  position: relative;
  padding: 0;
  margin: 0;
}

.warning-icon {
  font-size: 36px;
  color: transparent;
  display: inline-block;
  top: 0.225em;
  width: 1.15em;
  height: 1.15em;
  overflow: hidden;
  border: none;
  background-color: transparent;
  border-radius: 0.625em;
}

.warning-icon::before {
  content: "";
  display: block;
  top: -0.08em;
  left: 0.0em;
  position: absolute;
  border: transparent 0.6em solid;
  border-bottom-color: #f44;
  border-bottom-width: 1em;
  border-top-width: 0;
}

.warning-icon::after {
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0;
  width: 100%;
  padding: 0 1px;
  text-align: center;
  font-family: "Garamond";
  font-style: normal;
  content: "!";
  font-size: 0.65em;
  font-weight: bold;
  color: #333;
}

.error-box {

  background-color: #ff44444d;
}