body {
  margin: 0;
  font-family: 'Courgette', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
